
.stylesForBrand
{
    margin: 16px;
}

.navbar-brand.dontChangeColor
{
    margin-right: 0px;
}

.stylesForBrand:hover, .dontChangeColor:hover
{
    color: white;
}

.navbar-toggler-icon
{
    color: white;
    background-image: url("../images/burger-menu-svgrepo-com.svg");
}

.navbar
{
    --bs-navbar-toggler-border-color: none;
    padding: 0px;
}