.awaits
{
    background-color: #5facff;
}

.Approved
{
    background-color: #88FF5F;
    color: #4A8E21;
    border-color: #4A8E21;
}

.Declined
{
    background-color: #FF855F;
    color: #7E2B1F;
    border-color: #7E2B1F;
}

.InProcess
{
    background-color: #FFE55F;
    color: #7E6F1F;
    border-color: #7E6F1F;
}

.border-red
{
    --bs-btn-border-color: #FF855F;
}

.border-green
{
    --bs-btn-border-color: #88FF5F;
}

.border-thick
{
    --bs-btn-border-width: 5px;
}

.dotted
{
    border-style: dashed;
}

.center-align
{
    align-items: center;
}