@font-face 
{
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf');
}

html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
}

.darkblue
{
    background-color: #001529;
}

.darkblue.inner
{
    color:#001529;
}

.stickWhite
{
    border: solid !important;
    border-color: white !important;
    border-width: 0px 0px 0px 1px !important;
}

.endAndStart
{
    justify-content: space-between;
}

.p-12
{
    padding-left: 12px;
    padding-right: 12px;
}

.white
{
    color: white;
}

.bigText
{
    font-size: 14px;
}

.end
{
    justify-content: end;
}

.search
{
    background: url("../images/searchicon.svg") 8px no-repeat;
    padding-left: 25px;
    background-color: white;
}

.radiusnone
{
    border-radius: 0px !important;
}

.whiteback
{
    color: white;
}

.from::before
{
    display: flex;
    content: "От: ";
}

.to::before
{
    display: flex;
    content: "До: ";
}

input.to
{
    display: flex;
    justify-content: space-between;
}

input.from
{
    display: flex;
    justify-content: space-between;
}

.center
{
    text-align: center;
}

.border-darkblue
{
    border-style: solid;
    border-color: rgb(0, 21, 41, 0.3);
    border-width: 0px 1px 1px 1px;
    margin: 0px;
}

.stretch
{
    width: 100%;
}

a.disabled
{
    color: #67A8F3 !important;
}

.border-radius-small
{
    border-radius: 10px 10px 0px 0px;
}

.white.bigText:hover
{
    color: #67A8F3;
}

.form-select
{
    text-align: center;
    border: none;
    --bs-form-select-bg-img: url('../images/select-switch.svg');
    background-size: auto !important;
}

.darkAndLight
{
    background-color: #001529;
    color: white;
}

.verySmallRadius
{
    border-radius: 2px;
}

.time-and-date
{
    background-color: #2D4B67;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20% / 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    font-weight: bold;
}

.time-and-date .text {
    display: inline-block;
    vertical-align: middle;
}

.time-and-date:hover
{
    background-color: #67A8F3;
}

.dropdown-toggle::after
{
    content: none;
}

.min-weight-520
{
    min-width: 520px;
}

.rounded-text
{
    border-radius: 20% / 100%;
}

.p-6
{
    padding-left: 6px;
    padding-right: 6px;
}

/*Можно заменять на "rounded-n" внутри className*/
.border-radius-small-all
{
    border-radius: 10px 10px 10px 10px;
}

.light-color
{
    background-color: #67A8F3;
}

.custom-button-shadow{
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.25);
}

.add-circle-button{
    width: 40px;
    height: 40px;
}

.custom-button{
    background-color: #2D4B67;
    border: none;
}



.multiSelectContainer ul{
    max-height: none;
}

.chips{
    background: red;
    background-color: red;
    color: red;
}

.option{
	color: #67A8F3;
    margin: 5px 0px;
    text-align: center;
}

.selected{
    background-color: #67A8F3;
    color: white;
}

.searchWrapper{
    display: flex;
    justify-content: center;
    border: none;
    background-color: #2D4B67;
    cursor: pointer;
}

.searchBox {
    text-align: center;
	border: none;
    color: white;
    cursor: pointer;
    caret-color: transparent;
    pointer-events: none;
}

.searchBox::placeholder {
    color: white;
}

.checkbox{
    visibility: hidden;
}

.notFound{
    text-align: center;
}