html, body
{
    margin: 0;
    padding: 0;
}

.darkblue
{
    background-color: #346398;
}

.darkblue.inner
{
    color:#346398;
}

.stickWhite
{
    border: solid !important;
    border-color: white !important;
    border-width: 0px 0px 0px 1px !important;
}

.endAndStart
{
    justify-content: space-between;
}

.p-12
{
    padding-left: 12px;
    padding-right: 12px;
}

.white
{
    color: white;
}

.stylesForBrand
{
    margin: 8px;
}

.bigText
{
    font-size: 18px;
}

.navbar-brand.dontChangeColor
{
    margin-right: 0px;
}

.stylesForBrand:hover, .dontChangeColor:hover
{
    color: white;
}

.navbar-toggler-icon
{
    color: white;
    background-image: url("../images/burger-menu-svgrepo-com.svg");
}

.navbar
{
    min-width: 253px;
    --bs-navbar-toggler-border-color: none;
}

.end
{
    justify-content: end;
}

.red
{
    background-color: red;
}

.search
{
    background-image: url("../images/searchicon.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.radiusnone
{
    border-radius: 0px !important;
}

.p-19
{
    padding-right: 32px;
}

.whiteback
{
    color: white;
}

.from::before
{
    display: flex;
    content: "От: ";
}

.to::before
{
    display: flex;
    content: "До: ";
}

input.to
{
    display: flex;
    justify-content: space-between;
}

input.from
{
    display: flex;
    justify-content: space-between;
}

.center
{
    text-align: center;
}

.min-270
{
    min-width: 300px;
}

.border-darkblue
{
    border-style: solid;
    border-color: #346398;
    border-width: 0px 1px 1px 1px;
    margin: 0px;
}

.stretch
{
    width: 100%;
}